.text-center {
  justify-content: center;
}
.m-t-20 {
  margin-top: 20px;
}
.red {
  color: red;
}
.cus-header {
  padding: 10px;
  color: white;
  background: linear-gradient(45deg, teal, transparent);
}
.m-l-r-20 {
  margin: 0 20px;
}
.m-5-px {
  margin: 5px;
}
